services:

    app:
        build: .
        # run database migrations before starting dev server
        command: sh -c "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"
        volumes:
            - .:/app
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            DATABASE_URL: postgres://postgres:postgres@db:5432/postgres

    db:
        image: postgres:15-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: postgres

volumes:
    postgres_data:
